.top-header {
    position: relative;
    height: 200px;
    background: rgba(133, 175, 91, 0.23);
}

.header-reservation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top:-7em;
    height: 200px;
    width: 1500px;
}

.animal-photo {
    position: absolute;
    top:0;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.text-header {
    position: absolute;
    top: 7em;
    font-size: 1.9em;
    color: #686464;
    font-weight: bolder;
}

.main-container {
    width: max-content;
    margin: 40px 40px;
    position: relative;
    display: flex;
    font-size: 1.3em;
    color: #686464;
    height: 500px;
}

.info-animal-container {
    position: absolute;
    top:0;
    left:0;
    width: 720px;
    border-right: 1px solid #686464;
}

.info-reservation-container {
    position: absolute;
    top:0;
    left: 760px;
    width: 600px;
}

.text-sub-header {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 2em;
}

.nav-area {
    margin-left: 600px;
    margin-top: 10vh;
    margin-bottom: 100px;
    font-size: 1.3em;
    width: fit-content;
}

.p {
    margin-left: 130px;
    color: #686464;
}

.button-green {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    width: 310px;
    background-color: #adcf62;
    border-color: #adcf62;

}

.button-green:hover {
    background-color: #D2D980;
    border-color: #D2D980;
}

.button-blue {
    font-size: 1em;
    font-weight: bold;
    width: 310px;
    background-color: rgba(14, 87, 111, 0.6);
    border-color: rgba(14, 87, 111, 0.6);
}

.button-blue:hover {
    background-color: #75C3C8;
    border-color: #75C3C8;
}