.header__image {
  height: 55vh;
  background-size: cover;
}

.header__title {
  margin-top: -35px;
  text-align: center;
  font-size: 60px;
  line-height: 70px;
  background: #686464;
  opacity: 0.95;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 10px 10px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
}
