.main-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.table-cell-link {
  margin-left: 15px;
}

.table-cell-form-button {
  background-color: #adcf62;
  text-align: center;
  border: none;
  color: white;
  border-radius: 25px;
  text-decoration: none;
}
.table-cell-form-button:hover {
  background-color: #d2d980;
}

.table-header {
  text-align: center;
  color: #686464;
  font-size: 18px;
}